<!DOCTYPE html>
<html>
<head>
    <title>Confirmação de Email</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; background-color: #f9f9f9;">
        <h1 style="text-align: center; color: #333;">Bem-vindo ao Hanna</h1>

        <p>Olá {{name}},</p>

        <p>Por favor, clique no link abaixo para criar sua senha de acesso a plataforma:</p>

        <div style="text-align: center; margin-top: 20px;">
            <a href="{{link}}" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Confirmar Email</a>
        </div>

    </div>

</body>
</html>