<!DOCTYPE html>
<html>

<head>
  <title>Recupere sua senha!</title>
</head>
<style>
  :root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--primary: #6e418f;
	--secondary: #a259da;
	--secondary-hovered: #752eac;
	--background: #f6f6f7;
	--white: #fff;
	--text-subdued: #6d7175;
	font-family: var(--font-body);
	font-size: 62.5%;
}

/***********/
/* DEFAULT */
/***********/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
}

.box {
  max-width: 80rem; 
  margin: 2rem auto; 
  padding: 2rem; 
  background-color: var(--background);
  border-radius: 16px
}

.text-subdued {
  font-size: 1.6rem;
  color: var(--text-subdued);
}

.text-primary {
  font-size: 1.6rem;
  color: var(--text-primary);
}

.text-center {
  text-align: center;
}

.title {
  font-size: 3.2rem;
  color: var(--primary);
}

.greetings {
  font-size: 2.4rem;
}

.mb8 {
  margin-bottom: .8rem
}

.mb16 {
  margin-bottom: 1.6rem
}

.bold {
  font-weight: bold;
}

.color-secondary {
  color: var(--secondary)
}

.confirm {
  color: var(--secondary-hovered);
  display: inline-block;
  text-decoration: none;
  padding: 0 .2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--secondary-hovered);
}

</style>
<body>
  <div class="box">
    <p class="greetings text-subdued mb8">Olá <span class="color-secondary">{{partnerName}}<span>,</p>
    <p class="text-subdued mb16">Por favor, clique 
        <a class="confirm" href="{{link}}">
          neste link
        </a>
       para recuperar a sua senha.</p>
    <p class="text-subdued bold mb16">
      Lembre-se de escolher uma senha forte, combinando letras, números e caracteres especiais, para garantir a máxima
      segurança. 
      {{!-- Se tiver alguma dúvida ou precisar de ajuda, nossa equipe de suporte está à disposição para guiá-lo(a)
      a cada passo. --}}
    </p>
    <p class="text-subdued mb8">
      Agradecemos por escolher a plataforma Hanna.
    </p>
  </div>
</body>

</html>