<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/root.css">
  <title>Confirmação de senha concluída</title>
  <style>

    body {
        background-color: var(--primary);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }
  </style>
</head>
<body>
    <p class="title-white mb16">
        Tudo certo!
    </p>
     <p class="fs-text">
        <span class="bold">{{userName}}</span>, sua senha foi criada com sucesso na plataforma.
    </p>
</body>
</html>