<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar senha - {{companyName}}</title>
  <style>

    :root {
      --main-background: #a259da;
      --form-background: #6e418f;
      --accent-color: #a259da;
      --button-hover-color: #8248a6;
      --white-color: #fff;
      font-size: 62.5%;
    }

    *, *::after, *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    body {
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
        background-color: var(--main-background);
        color: var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }

    .info {
        font-size: 2.4rem;
        margin-bottom: 2.4rem;
    }

    .new-pass-box {
        background-color: var(--form-background);
        padding: 2rem;
        border-radius: .8rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 30rem;
        text-align: center;
    }

    .logo {
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        color: var(--main-background);
        margin-bottom: 2rem;
    }

    label {
        font-size: 1.4rem;
        display: block;
        margin-bottom: .8rem;
        text-align: left;
    }

    input {
      width: 100%;
      padding: 1.2rem;
      margin-bottom: 1.6rem;
      border: 4px solid #fff;
      border-radius: 4px;
      outline: none
    }

    button {
      background-color: var(--main-background);
      color: var(--white-color);
      padding: 1.6rem 3.2rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: .8rem;
      transition: .2s all;
    }

    button:hover {
      background-color: var(--button-hover-color);
    }
  </style>
</head>
<body>
    <p class="info">
        Olá {{name}}, crie sua senha agora e acesse a plataforma Hanna!
    </p>
    <div class="new-pass-box">
        <input type="hidden" name="post-url" id="post-url" value="{{ postUrl }}">
        <div class="logo">{{companyName}}</div>
        <form class="login-form" id="password-form">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirm-password">Confirmação de Senha:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
            <button type="button" onclick="submitForm()">Enviar</button>
        </form>
    </div>
    <script>
        function submitForm() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (password !== confirmPassword) {
                alert('Senhas não coincidem. Por favor, insira senhas iguais.');
                return;
            }

            const formData = new FormData();
            formData.append('password', password);
            formData.append('confirmPassword', confirmPassword);

            const postUrl= document.getElementById('post-url').value;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', postUrl, true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    alert('Senha cadastrada com sucesso! Agpra você pode acessar a plataforma Hanna.');
                } 
                else if (xhr.status > 200 && xhr.status < 500) {
                    const responseData = JSON.parse(xhr.responseText);
                    alert(responseData.error);
                }
                else {
                    alert('Houve algum erro. Tente novamente!');
                }
            };
            xhr.onerror = function () {
                alert('Houve algum erro. Tente novamente!');
            };
            xhr.send(formData);
        }
    </script>
</body>
</html>
