<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; background-color: #f9f9f9;">
        <h1 style="text-align: center; color: #333;">Criação de Senha</h1>

        <p>Olá {{nome}}, seja bem-vindo! Abaixo, insira as credenciais que deseja respeitando as regras de senha:</p>

        <form action="http://localhost:3000/api/app/companies/newPassword" method="post">

           <input type="hidden" name="token" value="{{token}}">
            <div style="margin-bottom: 10px;">
                <label for="password">Nova Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="confirmPassword">Confirme a Senha:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>

            <div style="text-align: center; margin-top: 20px;">
                <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Cadastrar</button>
            </div>
        </form>
    </div>

</body>
</html>
