.box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh;
}

.left-box-column, .right-box-column {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.left-box-column {
  clip-path: polygon(0 0, 100% 0%, 20% 100%, 0% 100%);
}

.right-box-column {
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 0% 100%);
}

.center-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.new-pass-box {
    padding: 2rem;
    border-radius: .8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50rem;
    text-align: center;
}

.logo {
    font-size: 3rem;
    color: var(--secondary-hovered);
    margin-bottom: 2rem;
}
